.alert {
  display: flex;
  height: 25px;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  color: $danger-text;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
