.alert__warning {
  @include box-shadow;
  display: flex;
  align-items: center;
  background: #c38808;
  border-radius: 6px;
  padding: 10px;
  height: 51px;
  width: 100%;
  box-sizing: border-box;

  &::before {
    display: flex;
    content: url("../img/icon/exclamation.svg");
    justify-content: center;
    height: 20px;
    width: 20px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 50%;
    background: #9b6c05;
  }
}
