@font-face {
	font-family: "Raleway Regular";
	src: url('/src/assets/fonts/raleway/raleway-regular.ttf') format("truetype");
}

@font-face {
	font-family: "Raleway Bold";
	src: url('/src/assets/fonts/raleway/raleway-bold.ttf') format("truetype");
}