body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $blueblack;
    font-family: 'Raleway Regular', sans-serif;
    color: $white;
    font-weight: 700;
}