.l-card__hobbies {
  align-items: center;
  background-color: $blue40;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 90px;
  justify-content: center;
  padding: 4px;
  width: 300px;
}
