.l-navbar {
  align-items: center;
  background-color: $blueblack;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 5rem;
  justify-content: space-between;
  max-width: 1136px;
  width: 100%;
}
