.c-button {
  align-items: center;
  background-color: transparent;
  border: 2px solid $blue60;
  box-sizing: border-box;
  color: $white;
  display: flex;
  font-weight: 600;
  height: 51px;
  justify-content: center;
  padding: 8px 16px;
  width: 100%;
}
