.c-card__project__link {
  height: 30px;
  width: 30px;
  margin: 4px;

  &--view {
    background: url("../img/icon/eyes.svg") no-repeat center center;
  }

  &--code {
    background: url("../img/icon/code.svg") no-repeat center center;
  }
}
