.c-navbar__logo {
  align-items: center;
  background-color: $blue60;
  border-radius: 50%;
  box-sizing: border-box;
  color: $white;
  display: flex;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  padding: 0.5rem;
  width: 40px;
}
