.c-navbar__logo {
	align-items: center;
	background-color: $blue60;
	box-sizing: border-box;
	border-radius: 50%;
	display: flex;
	color: $white;
	justify-content: center;
	font-weight: 700;
	padding: 0.5rem;
	height: 40px;
	width: 40px;
	
}